<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
        <title>MyBootApp</title>
    </head>
    <body>
        <h2>MENU</h2>
        <a th:href="@{'/'}">TOP</a>
        <form th:action="@{/logout}" name="logout" method="POST">
		    <a href="javascript:logout.submit()">ログアウト</a>
		</form>
    </body>
</html>