<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
      <link href="../../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" />
        <title>MyBootApp</title>
    </head>
    <body>
        <h2>INDEX</h2>
        <div sec:authorize="isAuthenticated()">
			ユーザ名：<span sec:authentication="principal.username"></span>（<span sec:authentication="principal.usernameKana"></span>）
		</div>
		<div sec:authorize="isAnonymous()">
        	<a th:href="@{'/login'}">ログイン</a>
        </div>
		<div sec:authorize="isAuthenticated()">
        	<a th:href="@{'/menu'}">メニュー</a>
        </div>
        <div>
        	<a th:href="@{'/regist'}">新規登録</a>
        </div>
    </body>
</html>